# ==================================================
# FILE: roles/postgress/tasks/main.yml
#
# For badatabase install
# ==================================================
---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install postgress-client
  apt:
    name: 
    - postgresql-client
    state: present
  notify: Restart postgress

- name: chcek if postgress is running
  


- name: Install PHP 8.3 and common extensions
  apt:
    name:
      - php8.3
      - php8.3-fpm
      - php8.3-cli
      - php8.3-common
      - php8.3-mysql
      - php8.3-pgsql
      - php8.3-xml
      - php8.3-curl
      - php8.3-gd
      - php8.3-mbstring
      - php8.3-zip
      - php8.3-bcmath
      - php8.3-intl
      - php8.3-readline
      - php8.3-opcache
      - php8.3-gmp
      - php8.3-pdo
      - php8.3-ffi
    state: present