# ==================================================
# FILE: roles/postgress/tasks/main.yml
#
# For badatabase install
# ==================================================
---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

  
- name: "Install packages"
  apt: "name={{ item }} state=present"
  with_items:
    - postgresql-client
    - postgresql-contrib
    - postgresql
    - pipx
    - python3-psycopg2
  # notify: Restart postgress

# - name: "Install Python packages"
#   community.general.pipx: "name={{ item }} state=present"
#   with_items:
#     - psycopg2-binary

- name: "Find out if PostgreSQL is initialized"
  ansible.builtin.stat:
    path: "/var/lib/pgsql/data/pg_hba.conf"
  register: postgres_data

- name: "Initialize PostgreSQL"
  shell: "postgresql-setup initdb"
  when: not postgres_data.stat.exists

- name: "Start and enable services"
  service: "name={{ item }} state=started enabled=yes"
  with_items:
    - postgresql

### sudo systemctl status postgresql
##
- name: Check if postgress is running
  command: systemctl status postgres
  ignore_errors: yes
  changed_when: false
  register: service_postgress_status

- name: Report status of postgress
  fail:
    msg: |
      Service postgres is not running.
      Output of `systemctl status postgres`:
      {{ service_postgress_status.stdout }}
      {{ service_postgress_status.stderr }}
  when: service_postgress_status | failed


