# ==================================================
# FILE: roles/nginx/tasks/main.yml
# Nginx installation role
# ==================================================
---
### in common role: 


### Conf the Backend server:
### in common: sudo apt update

### install php:
### In php role
	
	# kill apache2:
### Stop and Remove Apache2
- name: Stop and disable Apache2 if running
  become: yes
  service:
    name: apache2
    state: stopped
    enabled: no
  ignore_errors: yes  # in case it's already absent

- name: Remove Apache2 packages
  become: yes
  apt:
    name: apache2*
    state: absent
    purge: yes
    autoremove: yes
    autoclean: yes
  
- name: Install nignx needed packages
  become: yes
  apt:
    - net-tools
    - nginx

- name: Ensure Nginx is started and enabled
  systemd:
    name: nginx
    state: started
    enabled: yes

#  notify:
#    - Reload Nginx
    


		sudo composer require james-heinrich/getid3




- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Ensure Nginx is started and enabled
  systemd:
    name: nginx
    state: started
    enabled: yes

- name: Create web root directory
  file:
    path: /var/www/html
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Deploy default index page
  copy:
    content: |
      <!DOCTYPE html>
      <html>
      <head>
          <title>{{ inventory_hostname }}</title>
      </head>
      <body>
          <h1>{{ inventory_hostname }}</h1>
          <p>Server is running Nginx</p>
          <p>IP: {{ ansible_host }}</p>
      </body>
      </html>
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: '0644'

- name: Ensure Nginx configuration directory exists
  file:
    path: /etc/nginx/
    state: directory

- name: Deploy PHP configuration from template
  template:
    src: php.ini.j2
    dest: /etc/nginx/default.conf
    owner: root
    group: root
    mode: '0644'
  notify: Reload Nginx
