## For base peer-network config 
# frontend.peerapp.eu -> point at web-frontend
# website.peerapp.eu -> website
# peerapp.eu /www.peerapp.eu -> backend

{% set domain = domain_mapping[ansible_hostname] %}
{% if domain is string %}
{% set ServerName={{ domain }} %}
{% else %}
{% set ServerName={{ domain[1:] | join(' ') }} %}
{% endif %}


server {
    listen 80;
    server_name "{{ ServerName }}";
    root /var/www/html;
    index index.php index.html;
    
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
    
    location ~ /\.ht {
        deny all;
    }
    
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;
    }
}
