### Var file for nginx 
##
## Need toe map from hostname to domain
##

domain_mapping:
  peer-prod-frontend: "frontend.peerapp.eu"
  peer-prod-website: "website.peerapp.eu"
  peer-prod-backend: 
    - "peerapp.eu"
    - "www.peerapp.eu"