# ==================================================
# FILE: roles/backend/tasks/main.yml
# ==================================================
---
  dependencies:
    - role: php83
    - role: rust

### moved to common - name: Update apt cache

- name: Install Apache2
  apt:
    name: 
      - apache2
      - apache2-utils
    state: present


