# ==================================================
# FILE: roles/backend/tasks/main.yml
# ==================================================
---
  dependencies:
    - role: php83
    - role: rust

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install Apache2
  apt:
    name: 
      - apache2
      - apache2-utils
    state: present


