# ==================================================
# FILE: roles/database/tasks/main.yml
# Install postgress and setup the database vm
# ==================================================
---

- name: Edit fpm to add more power
  ansible.builtin.blockinfile:
    path:  "/etc/php/{{ php_version }}/fpm/pool.d/www.conf"
    append_newline: true
    prepend_newline: true
    marker: "; {mark} ANSIBLE MANAGED BLOCK" 
    block: |
      pm = dynamic
      pm.max_children = 300
      pm.start_servers = 50
      pm.min_spare_servers = 25
      pm.max_spare_servers = 75
      pm.process_idle_timeout = 10s
      pm.max_requests = 10000



### update  Add to file /etc/php/8.3/mods-available/opcache.ini
- name: Edit mods-available opcache ini
  ansible.builtin.blockinfile:
    path:  "/etc/php/{{ php_version }}/mods-available/opcache.ini"
    append_newline: true
    prepend_newline: true
    block: |
      zend_extension=opcache.so
      opcache.enable=1
      opcache.enable_cli=1
      opcache.memory_consumption=512
      opcache.interned_strings_buffer=32
      opcache.max_accelerated_files=200000
      opcache.validate_timestamps=0
      ; Enable JIT
      opcache.jit=1255
      opcache.jit_buffer_size=128M

### update  Add to file /etc/php/8.3/fpm/php.ini
##  Last file, restart php
- name: Edit php-ini file
  ansible.builtin.blockinfile:
    path:  "/etc/php/{{ php_version }}/fpm/php.ini"
    append_newline: true
    prepend_newline: true
    marker: "; {mark} ANSIBLE MANAGED BLOCK" 
    block: |
      zend_extension=opcache
      opcache.enable=1
      opcache.memory_consumption=512
      opcache.interned_strings_buffer=32
      opcache.max_accelerated_files=200000
      opcache.validate_timestamps=0
      ; Enable JIT Compilation (PHP 8+)
      opcache.jit=1255
      opcache.jit_buffer_size=128M

- name: set files for PHP restart
  debug: 
    msg:
    - "completed update for:"
    - "/etc/php/{{ php_version }}/fpm/pool.d/www.conf"
    - "/etc/php/{{ php_version }}/mods-available/opcache.ini"
    - "/etc/php/{{ php_version }}/fpm/php.ini"
    - "Restarting PHP-FPM"
  changed_when: true
  notify: Restart PHP-FPM

  ### Ende