# ==================================================
# FILE: roles/database/tasks/main.yml
# Install postgress and setup the database vm
# ==================================================
---

- name: Edit fpm to add more power
  ansible.builtin.blockinfile:
    path: /etc/php/8.3/fpm/pool.d/www.conf
    append_newline: true
    prepend_newline: true
    marker: "; {mark} ANSIBLE MANAGED BLOCK" 
    block: |
      pm = dynamic
      pm.max_children = 300
      pm.start_servers = 50
      pm.min_spare_servers = 25
      pm.max_spare_servers = 75
      pm.process_idle_timeout = 10s
      pm.max_requests = 10000



### update  Add to file /etc/php/8.3/mods-available/opcache.ini
- name: Edit mods-available opcache ini
  ansible.builtin.blockinfile:
    path: /etc/php/8.3/mods-available/opcache.ini
    append_newline: true
    prepend_newline: true
    block: |
      zend_extension=opcache.so
      opcache.enable=1
      opcache.enable_cli=1
      opcache.memory_consumption=512
      opcache.interned_strings_buffer=32
      opcache.max_accelerated_files=200000
      opcache.validate_timestamps=0
      ; Enable JIT
      opcache.jit=1255
      opcache.jit_buffer_size=128M

### update  Add to file /etc/php/8.3/fpm/php.ini
##  Last file, restart php
- name: Edit php-ini file
  ansible.builtin.blockinfile:
    path: /etc/php/8.3/fpm/php.ini
    append_newline: true
    prepend_newline: true
    marker: "; {mark} ANSIBLE MANAGED BLOCK" 
    block: |
      zend_extension=opcache
      opcache.enable=1
      opcache.memory_consumption=512
      opcache.interned_strings_buffer=32
      opcache.max_accelerated_files=200000
      opcache.validate_timestamps=0
      ; Enable JIT Compilation (PHP 8+)
      opcache.jit=1255
      opcache.jit_buffer_size=128M

- name: set files for PHP restart
  debug: 
    msg:
    - "completed update for:"
    - "/etc/php/8.3/fpm/pool.d/www.conf"
    - "/etc/php/8.3/mods-available/opcache.ini"
    - "/etc/php/8.3/fpm/php.ini"
    - "Restarting PHP-FPM"
  changed_when: true
  notify: Restart PHP-FPM



  # ansible_user: "{{ ansible_user | default('peer') }}"





    # - name: "Create app database"
    #   postgresql_db:
    #     state: present
    #     name: "{{ db_name }}"
    #   become: yes
    #   become_user: postgres

    # - name: "Create db user"
    #   postgresql_user:
    #     state: present
    #     name: "{{ db_user }}"
    #     password: "{{ db_password }}"
    #   become: yes
    #   become_user: postgres

    # - name: "Grant db user access to app db"
    #   postgresql_privs:
    #     type: database
    #     database: "{{ db_name }}"
    #     roles: "{{ db_user }}"
    #     grant_option: no
    #     privs: all
    #   become: yes
    #   become_user: postgres

    # - name: "Allow md5 connection for the db user"
    #   postgresql_pg_hba:
    #     dest: "~/data/pg_hba.conf"
    #     contype: host
    #     databases: all
    #     method: md5
    #     users: "{{ db_user }}"
    #     create: true
    #   become: yes
    #   become_user: postgres
    #   notify: restart postgres
 
    # - name: "Load SQL script into a variable"
    #   set_fact:
    #     migration_sql: "{{ lookup('file', 'conf/migration.sql') }}"

    # - name: "Execute script from variable"
    #   command: "psql {{ db_name }} -c {{ migration_sql }}"
    #   become_user: postgres
    #   register: sql_response_variable