## For base peer-network config 
# backend.peerapp.eu / media.peerapp.eu -> backend

server {
    listen 80;
    
    server_name backend.{{ peerapp.eu }} media.{{ peerapp.eu }};  <==  backend and media
    root /var/www/html;
    index index.php index.html;
    
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
    
    location ~ /\.ht {
        deny all;
    }
    
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
    }
}
