# Website - peerapp.eu, www.peerapp.eu
server {
    listen 80;
    server_name peerapp.eu www.peerapp.eu;
    
    location / {
        proxy_pass http://{{ hostvars['peer-prod-website']['ansible_host'] }}:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Frontend - frontend.peerapp.eu
server {
    listen 80;
    server_name frontend.peerapp.eu;
    
    location / {
        proxy_pass http://{{ hostvars['peer-prod-frontend']['ansible_host'] }}:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Backend - backend.peerapp.eu, media.peerapp.eu
server {
    listen 80;
    server_name backend.peerapp.eu media.peerapp.eu;
    
    location / {
        proxy_pass http://{{ hostvars['peer-prod-backend']['ansible_host'] }}:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}