# ==================================================
# FILE: playbooks/database-install.yml
# Playbook to install database server
# ==================================================
---

- name: Install database Server (Postgress)
  hosts: peer-prod-database
  become: yes
  
  vars:
    # You can override these in your inventory
    Internal_IP_target: "192.168.1.210"  # database IP 
    Internal_Backend: "192.168.1.200"
    External_IP_target: "162.19.169.215"  # Host IP
    psql_port: 5432
    php_max_execution_time: "3600"
    # ansible_user: "{{ ansible_user | default('peer') }}"
    
  ### Thisis a role of roles, as 'backend' will call other roles  
  roles:
    - database
    
  post_tasks:
    - name: Display completion message
      debug:
        msg:
          - "=========================================="
          - "Database installation complete!"
          - "=========================================="
          - "Services installed:"
          - "  - Postgress"
          - "  - PSQL"
          - ""
          - ""
          - "Next steps:"
          - "  1. Deploy your application to /var/www/html"
          - "  2. Run composer install in your app directory"
          - "  3. Configure your .env file"
          - "=========================================="
