# ==================================================
# FILE: playbooks/database-install.yml
# Playbook to install database server
# ==================================================
---

- name: Install Database Server (Postgres + PHP-FPM 8.3 + Nginx)
  hosts: peer-prod-database
  become: yes

  vars_files:
    - ../host_vars/peer-prod-database.yml

  vars:
    database_name: "peer"
    database_user: "peer_prod" 
    path_to_file_on_host: '/etc/postgres-common/passcode'
    # You can override these in your inventory
    Internal_IP_target: "192.168.1.210"  # database IP 
    Internal_Backend: "192.168.1.200"
    External_IP_target: "162.19.169.215"  # Host IP
    psql_port: 5432
    php_max_execution_time: "3600"

  
### Make or use password for the postgres database
##  
  pre_tasks:

  - block:
      - name: Check for vars_files
        ansible.builtin.stat:
        path: ../host_vars/peer-prod-database.yml
        register: peer_prod_db_stat

      - name: Check for vars_files
        ansible.builtin.stat:
        path: ../.passcode
        register: peer_prod_pass_stat

      - name: "end play if peer_prod_database.yml not found"
        debug:
          msg: 
            - "Ending play: peer_prod_database.yml is not at ../host_vars/peer-prod-database.yml"
            - "         Or: .passcode file is missing.  Plase check if these files are present."

      - meta: end_play
    when: (peer_prod_db_stat.stdout not defined or  eer_prod_pass_stat.stdout not defined)

  - name: Print a debug message
    ansible.builtin.debug:
      msg: "stat for database {{ peer_prod_db_stat }}"

  ### Thisis a role of roles, as 'backend' will call other roles  
  roles:
    - database
    
  post_tasks:
    - name: Display completion message
      debug:
        msg:
          - "=========================================="
          - "Database installation complete!"
          - "=========================================="
          - "Services installed:"
          - "  - Postgress"
          - "  - PSQL"
          - ""
          - ""
          - "Next steps:"
          - "  1. Deploy your application to /var/www/html"
          - "  2. Run composer install in your app directory"
          - "  3. Configure your .env file"
          - "=========================================="
