# ==================================================
# FILE: playbooks/make_rotate_ssh_keys.yml
# Playbook to add gererated ssh keys to the vms
# ==================================================
---

- name: Add ssh keys to all vm for acces
  hosts: all
  gather_facts: yes
  become: yes
  
  vars:
    ssh_type: "ed25519" 
    ssh_key_dir: /hoem/peer/.ssh
    # You can override these in your inventory
    # The passcode is testing_peer_beta
    #  ssh-bit-size: 

  vars_files:
    - /home/peer/ansible/host_vars/peer-prod-database.yml

  pre_tasks:
  - name: Test on bastion
    when: " '192.168.1.10' in ansible_host"
    block:
        - name: is community.crypto.openssh_keypair there?
          ansible.builtin.shell: ansible-galaxy collection list
          register: galaxy_collection

        - name: is crypto there, if not end_play
          ansible.builtin.meta: end_play
          when: "'community.crypto' not in galaxy_collection.stdout_lines"

        - name: Generate an OpenSSH keypair with a different algorithm (dsa)
          community.crypto.openssh_keypair:
            path: /home/peer/.ssh/bastion_ed25519
            type: "{{ ssh_type }}"
            passphrase: "{{ testing_peer_beta }}"
    ### Ende

  tasks:
    - name: checking {{ ansible_host }} for ssh-file
      ansible.builtin.find:
        paths: /home/peer/.ssh
        patterns: 'bastion_ed25519'
        file_type: file
      become: yes
      register: is_here

    - name: what is the ssh bastion result  
      ansible.builtin.debug: 
        msg: 
          - "Result {{ is_here.stdout_lines }}" 

    - name: is crypto there, if not end_play
      ansible.builtin.meta: end_play
      when: is_here.stdout_lines < 1


    - name: Set authorized key taken from file
      ansible.posix.authorized_key:
        user: peer
        state: present
        key: "{{ lookup('file', '/home/peer/.ssh/bastion_ed25519.pub') }}"
      become: yes

    




