# ==================================================
# FILE: playbooks/make_rotate_ssh_keys.yml
# Playbook to add gererated ssh keys to the vms
# ==================================================
---

- name: Add ssh keys to all vm for acces
  hosts: all
  gather_facts: yes
  become: yes
  
  vars:
    ssh_type: "ed25519" 
    # You can override these in your inventory
    # The passcode is testing_peer_beta
    #  ssh-bit-size: 

  vars_files:
    - /home/peer/ansible/host_vars/peer-prod-database.yml

  pre_tasks:
  - name: Test on bastion
    when: " '192.168.1.10' in ansible_host"
    block:
        - name: is community.crypto.openssh_keypair there?
          ansible.builtin.shell: ansible-galaxy collection list
          register: galaxy_collection

        - name: is crypto there, if not end_play
          ansible.builtin.meta: end_play
          when: "'community.crypto' not in galaxy_collection.stdout_lines"

        - name: Generate an OpenSSH keypair with a different algorithm (dsa)
          community.crypto.openssh_keypair:
            path: tmp/bastion_ed25519
            type: "{{ ssh_type }}"
            passphrase: "{{ testing_peer_beta }}"
            present: yes
    ### Ende

  tasks:
    - name: checking {{ ansible_host }} for ssh-file
      ansible.builtin.find:
        paths: bastion_ed25519
      register: is_here
        # patterns: "^.*?\\.(?:old|log\\.gz)$"
        # size: 10m
        # use_regex: yes

    - name: what is the nginx_result  
      ansible.builtin.debug: "{{ is_here }}" 

