# ==================================================
# FILE: nginx_cert_apply.yml
# Playbook to install update and apply SSL certs to web-servers
# ==================================================
---

- name: Update web (frontfacing) servers to nginx configs 
  hosts: peer-prod-backend # nginx_web
  become: yes
  
  vars:

  ### Var file for nginx 
  ##
  ## Need toe map from hostname to domain
    domain_mapping:
      peer-prod-frontend: "frontend.peerapp.eu"
      peer-prod-website: "website.peerapp.eu"
      peer-prod-backend: 
        - "peerapp.eu"
        - "www.peerapp.eu"

  pre_tasks: 
    - name: Make sure 'nginx' is started
      systemd:
        name: nginx
        state: started
        enabled: yes
      register: nginx_result
    
  ### Thisis a role of roles, as 'backend' will call other roles  
  tasks:
    - name: debug is nginx running
      debug:
        msg: "{{ nginx_result }}"

    - name: is nginx running
      ansible.builtin.meta: end_play
      when: nginx_result.enabled = false

    - name: Check if template exists in nginx role
      stat:
        path: "{{ role_path }}/../nginx/templates/peerapp_server_config.j2"
      register: nginx_template

    - name: Create default template if it doesn't exist
      copy:
        content: |
          # Default peerapp server configuration
          server {
              listen 80;
              server_name {{ ansible_hostname }};
              # Add your default config here
          }
        dest: "{{ role_path }}/../nginx/templates/peerapp_server_config.j2"
      when: not nginx_template.stat.exists

    - name: Use template from nginx role
      template:
        src: "{{ role_path }}/../nginx/templates/peerapp_server_config.j2"
        dest: "{{ playbook_dir }}/temp/peerapp_server_config.j2"


    - name: debug stop
      debug: 
        msg: Stoped at debug nginx update
