name: Security Scan

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      
jobs:
  gitleaks:
    name: Run Gitleaks Scan
    uses: peer-network/peer_global_security/.github/workflows/gitleaks.yml@main
    with:
      config: gitleaks.toml