<VirtualHost *:443>
    ServerName {{ apache_server_name }}
    DocumentRoot /var/www/html

    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite HIGH:!aNULL:!MD5
    SSLCertificateFile /etc/letsencrypt/live/{{ apache_server_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ apache_server_name }}/privkey.pem

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
        AllowOverride All
        Require all granted
    </Directory>
    <Directory /var/www/html>
    	AllowOverride All
    	Require all granted
    </Directory>
</VirtualHost>

<VirtualHost *:80>
    ServerName frontend.getpeer.eu

    # Redirect all HTTP requests to HTTPS domain
    Redirect permanent / https://{{ apache_server_name }}/
</VirtualHost>